<a href="https://colab.research.google.com/github/AhmadAlsaadi/ENCH320-Numpy/blob/main/Numpy_Part_2_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction to NumPy Part 2

NumPy, short for "Numerical Python," is a fundamental library in the Python scientific computing ecosystem and forms the foundation for many other high-level libraries. Its efficient array operations and mathematical functions make it an essential tool for working with numerical data in Python.

## Array Manipulation

Array manipulation is a fundamental aspect of NumPy and involves various operations to modify, reshape, combine, and extract data from arrays.

### Reshaping Arrays
NumPy allows us to change the shape of an array without modifying its data.
We can reshape arrays using the `np.reshape()` function, which allows us to specify the desired dimensions of the new array as a tuple. The total number of elements in the reshaped array must be equal to the total number of elements in the original array. Reshaping can be useful for tasks like converting a one-dimensional array into a two-dimensional matrix or vice versa.For example:

In [ ]:
import numpy as np
arr = np.arange(1, 10)
reshaped_arr = np.reshape(arr,(3, 3))
print("original array:\n",arr)
print()
print("reshaped array:\n",reshaped_arr)

original array:
 [1 2 3 4 5 6 7 8 9]

reshaped array:
 [[1 2 3]
 [4 5 6]
 [7 8 9]]

**task 1**   
Using the given array, reshape the array into a 2D array with 3 rows and 2 columns?

In [ ]:
# Task 1 solution
import numpy as np
array = np.array([10, 20, 30, 40, 50, 60])

#Expected result:
###################################
#array([[10, 20],
#       [30, 40],
#       [50, 60]])
###################################
#write your code here

We can also use -1 as one of the dimensions in the `np.reshape()` function, which allows NumPy to automatically determine the size of that dimension based on the other dimensions as it is shown in the example below:

In [ ]:
import numpy as np
arr = np.arange(12)
reshaped_arr = np.reshape(arr,(3, -1))
print(reshaped_arr)

[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]]

In the above example, we used `-1` to ask numpy to determine the number of columns. Since the number of elements is `12` and we already specified the number of rows to be `3`. Numpy then will be able determine the dimension that hold the value `-1`.

**Task 2**   
Using the given array, reshape the array into an array with an automatically calculated shape where the number of rows is 3.

In [ ]:
# Task x solution
import numpy as np
array = np.array([1, 2, 3, 4, 5, 6])

# Expected result
##########################################
#array([[1, 2],
#       [3, 4],
#       [5, 6]])
##########################################
# write your code here

### Resizing Arrays   
The `np.resize()` function in NumPy allows us to change the shape of an array. It takes the desired shape as input and returns a new array with the specified shape. If the new shape is larger, the function will repeat or replicate elements to fill the additional space. If the new shape is smaller, the function will discard elements from the original array.   
**Example**:

In [ ]:
import numpy as np

# Create a 1D array
arr = np.array([1, 2, 3, 4, 5])

# Resize the array to have a length of 8
resized_arr = np.resize(arr, 8)

print(resized_arr)

[1 2 3 4 5 1 2 3]

In the example above, we resized the original array arr to have a length of 8. Since the original array had only 5 elements, the resize function repeated the elements to fill the additional space.

**Task 3**.  
Modify the example above to resize the array to have a length of 3. Observe the output and understand how the resize function handles shrinking the array size.

In [ ]:
# Task 3 solution
import numpy as np
# Create a 1D array
arr = np.array([1, 2, 3, 4, 5])
# Expect result
########################################
#
# array([1, 2, 3])
#
########################################
# write your code here

array([1, 2, 3])

While resizing and reshaping may seem similar, they have distinct differences. Resizing changes the shape and size of an array by either adding or removing elements, whereas reshaping only changes the shape of the array without modifying the total number of elements.

### Flattening Arrays   
To flatten a multi-dimensional array into a 1D array, you can use the `ndarray.flatten()` or `ndarray.ravel()` function. For example:

In [ ]:
import numpy as np
arr = np.array([[1, 2, 3], [4, 5, 6]])
flattened_arr = arr.flatten()
print(flattened_arr)

[1 2 3 4 5 6]

In the example above, the 2D array has been converted to 1D array

**Task 4**   
A. Flatten the array in the example above using `np.ravel()`?   
B. Faltten the array in the example above using `np.reshape()`?

In [ ]:
# Task 4 solution part A
# Expect result
#######################################
#
# array([1, 2, 3, 4, 5, 6])
#
#######################################
# write your code here

array([1, 2, 3, 4, 5, 6])

In [ ]:
# Task 4 solution part B
# Expect result
#######################################
#
# array([1, 2, 3, 4, 5, 6])
#
#######################################
# write your code here

### Reversing Array   
NumPy’s `np.flip()` function allows you to flip, or reverse, the contents of an array along an axis. When using `np.flip()`, specify the array you would like to reverse and the axis. If you don’t specify the axis, NumPy will reverse the contents along all of the axes of your input array.

**Reversing a 1D array**   
1D numpy array can be reversed as it is shown in the following example:

In [ ]:
import numpy as np
arr = np.array([1, 2, 3, 4, 5, 6, 7, 8])
np.flip(arr)

array([8, 7, 6, 5, 4, 3, 2, 1])

**Reversing a 2D array**   
A 2D array works much the same way. See the example below:

In [ ]:
import numpy as np
arr_2d = np.array([[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]])
np.flip(arr_2d)

array([[12, 11, 10,  9],
       [ 8,  7,  6,  5],
       [ 4,  3,  2,  1]])

In the example above, the rows has been reversed and the columns has been reversed as well.   

We can easily reverse only the rows by setting the optional parameter axis=0 as it is shown the example below:

In [ ]:
import numpy as np
arr_2d = np.array([[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]])
np.flip(arr_2d, axis=0)

array([[ 9, 10, 11, 12],
       [ 5,  6,  7,  8],
       [ 1,  2,  3,  4]])

Or reverse only the columns with axis=1 as shown below:

In [ ]:
import numpy as np
arr_2d = np.array([[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]])
np.flip(arr_2d,axis=1)

array([[ 4,  3,  2,  1],
       [ 8,  7,  6,  5],
       [12, 11, 10,  9]])

**Task 5**   
reverse the given array row-wise?

In [ ]:
# Task 5 solution
import numpy as np
arr=np.array([[2,2,2],
              [3,3,3],
              [4,4,4]])
# Expected result
####################################
#array([[4, 4, 4],
#       [3, 3, 3],
#      [2, 2, 2]])
####################################
# write your code here

We can also reverse the contents of only one column or row. For example, we can reverse the contents of the row at index position 1 (the second row) as it is shown below:

In [ ]:
import numpy as np
arr_2d = np.array([[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]])
np.flip(arr_2d[1])

array([8, 7, 6, 5])

We can also reverse the column at index position 1 (the second column) as it is shown below:

In [ ]:
import numpy as np
arr_2d = np.array([[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]])
np.flip(arr_2d[:,1])

array([10,  6,  2])

**Task 6**   
Flip the given array vertically and horizontally at the same time?

In [ ]:
# Task 6 solution
import numpy as np
# Define the input array
arr = np.array([[1, 2, 3],
                [4, 5, 6],
                [7, 8, 9]])
# Expected result
#######################
#array([[9, 8, 7],
#       [6, 5, 4],
#       [3, 2, 1]])
#######################
# write your code here

### Array Concatenation   
We can concatenate multiple arrays along different axes using the `np.concatenate()`.It takes a sequence of arrays as the first argument and the axis along which to concatenate as the second argument.


**Function Syntax**:

In [ ]:
import numpy as np
np.concatenate((array1, array2, ...), axis=0)

Parameters:   
* **_(array1, array2, ...)_**: Sequence of arrays to concatenate.
* **_axis_**: The axis along which to concatenate the arrays. **_Default_** is **0** (concatenate along rows).   

Returns:   
The concatenated array.

In [ ]:
import numpy as np
arr1 = np.array([1, 2, 3])
arr2 = np.array([4, 5, 6])
concatenated_arr = np.concatenate((arr1, arr2))
print(concatenated_arr)

[1 2 3 4 5 6]

**Task 7**   
Concatenate the following two arrays vertically (along the rows):

In [ ]:
# Task x solution
import numpy as np
array1 = np.array([[1, 2, 3],
                   [4, 5, 6]])
array2 = np.array([[7, 8, 9],
                   [10, 11, 12]])
# Expected result
#################################
#array([[ 1,  2,  3],
#       [ 4,  5,  6],
#       [ 7,  8,  9],
#       [10, 11, 12]])
#################################
# write your code here

We can also concatenating along columns by specify the `axis` value as 1:

In [ ]:
import numpy as np
arr1 = np.array([[1, 2], [3, 4]])
arr2 = np.array([[5],
                 [6]])
result = np.concatenate((arr1, arr2), axis=1)
print(result)

[[1 2 5]
 [3 4 6]]

**Task 8**   
Concatenate the following two arrays horizontally (along the columns):

In [ ]:
# Task x solution
import numpy as np
array1 = np.array([[1, 2, 3],
                   [4, 5, 6]])
array2 = np.array([[7, 8, 9],
                   [10, 11, 12]])
# Expected result
#################################
# array([[ 1,  2,  3,  7,  8,  9],
#        [ 4,  5,  6, 10, 11, 12]])
#################################
# write your code here

### Array Stacking   
Array stacking allows us combine multiple arrays into a single array along a specified axis. It provides flexibility for combining arrays of different shapes and dimensions. NumPy provides several functions for array stacking, including:
* **`np.stack()`**: enable stacking based on the axis parameter   
* **`np.vstack()`**:enable vertical stacking
* **`np.hstack()`**:enable horizontal stacking
* **`np.dstack()`**:enable depth-wise stacking

**Stacking with `np.stack()`**   
 `np.stack()` in NumPy is used to stack arrays along a new axis. It takes a sequence of arrays as input and returns a new array with the additional dimension created.   
 **Syntax:**

In [ ]:
import numpy as np
np.stack(arrays, axis=0)

Parameters:   
* **_arrays_**: A sequence of arrays to be stacked together. These arrays must have the same shape.
* **_axis_**: The new axis along which the arrays will be stacked. It is an optional parameter, and the **default** value is **0**.   

Return Value:   
The function returns a new array with the stacked arrays. The shape of the output array will depend on the shape of the input arrays and the axis parameter.   
**Example**: 1D-array stacking

In [ ]:
import numpy as np
a = np.array([1, 2, 3])
b = np.array([4, 5, 6])
result = np.stack((a, b))
print(result)

[[1 2 3]
 [4 5 6]]

In the above example, we have two 1-D arrays a and b. The np.stack() function is used to stack them along a new axis (default axis=0), resulting in a new 2-D array. The output array has a shape of (2, 3), where 2 represents the number of input arrays, and 3 represents the length of each array.

**Task 9**   
use `np.concatenate()` with array a and b above and discover the difference between the two functions. **Hint**: look at the output array dimension

In [ ]:
# Task 9 solution
import numpy as np
a = np.array([1, 2, 3])
b = np.array([4, 5, 6])
# Expected result
#############################
# array([1, 2, 3, 4, 5, 6])
#############################
# write your code here

**Example**: 2D-array stacking

In [ ]:
import numpy as np
a = np.array([[1, 2], [3, 4]])
b = np.array([[5, 6], [7, 8]])
result = np.stack((a, b), axis=1)
print(result)

[[[1 2]
  [5 6]]

 [[3 4]
  [7 8]]]

In the example above, we have two 2-D arrays a and b. The `np.stack()` function is used to stack them along a new axis axis=1. As a result, a new 3-D array is created, with shape (2, 2, 2). The first dimension represents the number of input arrays, the second dimension represents the rows, and the third dimension represents the columns.

**Task 10**   
use `np.concatenate()` to concatenate arrays a and b along the columns and discover the difference between the two functions.

In [ ]:
# Task 10 solution
import numpy as np
a = np.array([[1, 2], [3, 4]])
b = np.array([[5, 6], [7, 8]])
# Expected result
##########################
#[[1 2 5 6]
#[3 4 7 8]]
##########################
#write your code here


**Vertical Stacking with `np.vstack()`**    
The `np.vstack()` function is used to vertically stack arrays, meaning it combines arrays along the rows. It takes a sequence of input arrays and returns a new array with the input arrays stacked vertically. The arrays must have the same number of columns or dimensions along the stacking axis.

![image.png]()


>**Syntax**:

In [ ]:
import numpy as np
np.vstack(tup)

parameters:   
* **_tup_**: a sequence of arrays as a tuple to be vertically stacked.

**Example**:   
Let's consider two arrays, a and b, with the same number of columns. We can vertically stack them using np.vstack() as follows:

In [ ]:
import numpy as np
a = np.array([[1, 2, 3,4],
                   [5, 6, 7, 8],
                   [9,10,11,12]])
b = np.array([[1, 2, 3, 4],
                   [5, 6, 7, 8]])
result = np.vstack((a, b))
print(result)

[[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]
 [ 1  2  3  4]
 [ 5  6  7  8]]

**Task 11**   
use `np.concatenate()` along rows with arrays a and b above and compare the output result with `np.vstack()` above.

In [ ]:
# Task 11 solution
import numpy as np
a = np.array([[1, 2, 3,4],
                   [5, 6, 7, 8],
                   [9,10,11,12]])
b = np.array([[1, 2, 3, 4],
                   [5, 6, 7, 8]])
# Expected result
##############################
#[[ 1  2  3  4]
#[ 5  6  7  8]
#[ 9 10 11 12]
#[ 1  2  3  4]
#[ 5  6  7  8]]
###############################
# write your code here

**Horizontal Stacking with np.hstack()**   
The `np.hstack()` function is used to horizontally stack arrays, meaning it combines arrays along the columns. It takes a sequence of input arrays and returns a new array with the input arrays stacked horizontally. The arrays must have the same number of rows or dimensions along the stacking axis.

![image.png]()

**Syntax**:

In [ ]:
import numpy as np
np.hstack(tup)

**Example**:

In [ ]:
import numpy as np
a = np.array([[1, 2, 3,4],
              [5, 6, 7, 8],
              [9,10,11,12]])
c = np.array([[1, 2],
              [3, 4],
              [5,6]])
result = np.hstack((a, c))
print(result)

[[ 1  2  3  4  1  2]
 [ 5  6  7  8  3  4]
 [ 9 10 11 12  5  6]]

**Task 12**   
use np.concatenate() along columns with arrays a and b above and compare the output result with np.hstack() above.

In [ ]:
# Task 12 solution
import numpy as np
a = np.array([[1, 2, 3,4],
                   [5, 6, 7, 8],
                   [9,10,11,12]])
b = np.array([[1, 2],
              [3, 4],
              [5, 6]])
# Expected result
##############################
#[[ 1,  2,  3,  4,  1,  2],
#[ 5,  6,  7,  8,  3,  4],
#[ 9, 10, 11, 12,  5,  6]]
###############################
# write your code here

**Depth-Wise Stacking with np.dstack()**   
The `np.dstack()` function is used to stack arrays depth-wise, meaning it combines arrays along the third axis. It takes a sequence of input arrays and returns a new array with the input arrays stacked along the third axis. The stacked arrays must have the same shape.

**Example**:

In [ ]:
import numpy as np
a=np.array([[1,2,3],[4,5,6]])
b=np.array([[4,4,4],
            [5,5,5]])
np.dstack((a,b))

array([[[1, 4],
        [2, 4],
        [3, 4]],

       [[4, 5],
        [5, 5],
        [6, 5]]])

### Array Splitting:
Array splitting is a common operation in data manipulation and analysis.The `np.split()` function splits an array into multiple subarrays along a specified axis. It takes three arguments:
1. the array to be split
2. the number of equally-sized subarrays to create
3. the axis along which to split the array.   

<br>
**function Syntax**:

In [ ]:
import numpy as np
np.split(array, indices_or_sections, axis=0)

Parameters:      
* **_array_**: The array to be split.
* **_indices_or_sections_**: It can take either an integer or a sequence of indices that indicate where the splits should occur.
* **_axis_** (optional): The axis along which to split the array. The **_default_** is **0** (split along rows).   

Returns:   
A list of subarrays resulting from the split operation.

<br> **Example:**

In [ ]:
import numpy as np
arr = np.array([1, 2, 3, 4, 5, 6])
subarrays = np.split(arr, 3)
print(subarrays)

[array([1, 2]), array([3, 4]), array([5, 6])]

In the example above, `np.split()` took two parameters. The first parameter is the array that we want to split and the other parameter is the number of pieces that we want to split the array into.

**Task 13**   
Splits the given array arr into four equal-sized subarrays.

In [ ]:
# task 13 solution
import numpy as np
arr = np.array([1, 2, 3, 4, 5, 6, 7, 8])
# Expected result
##############################################################
# [array([1, 2]), array([3, 4]), array([5, 6]), array([7, 8])]
##############################################################
#write your code here

We can also specify the indices where you want the splits to occur using a sequence of indices. The array will be split at the specified indices along the specified axis.

In [ ]:
import numpy as np
arr = np.arange(1, 11)
indices = [3, 6, 8]
subarrays = np.split(arr, indices)
print(subarrays)

[array([1, 2, 3]), array([4, 5, 6]), array([7, 8]), array([ 9, 10])]

By specifying the axis parameter as 1, you can split the array along columns instead of rows.

In [ ]:
import numpy as np

arr = np.array([[1, 2, 3, 4], [5, 6, 7, 8]])
subarrays = np.split(arr, 2, axis=1)
print(subarrays)

[array([[1, 2],
       [5, 6]]), array([[3, 4],
       [7, 8]])]

**Task 14**   
Splits the given 2D array arr into two subarrays vertically?

In [ ]:
# Task 14 solution
import numpy as np
arr = np.array([[1, 2, 3, 10],
                [4, 5, 6, 11],
                [7, 8, 9, 12]])
# Expected result
#############################
#[array([[1, 2],
#        [4, 5],
#        [7, 8]]),
# array([[ 3, 10],
#        [ 6, 11],
#        [ 9, 12]])]
#############################

**Task 15**   
Splits the given 2D array arr into three subarrays horizontally?

In [ ]:
# Task 15 solution
import numpy as np
arr = np.array([[1, 2, 3, 10],
                [4, 5, 6, 11],
                [7, 8, 9, 12]])
# Expected result
#############################
#[array([[ 1,  2,  3, 10]]),
#array([[ 4,  5,  6, 11]]),
#array([[ 7,  8,  9, 12]])]
#############################

[array([[ 1,  2,  3, 10]]),
 array([[ 4,  5,  6, 11]]),
 array([[ 7,  8,  9, 12]])]

Apart from np.split(), NumPy provides other functions for more specific splitting requirements:   
* **_`np.hsplit()`_**: Splits an array into multiple subarrays horizontally (along columns).
* **_`np.vsplit()`_**: Splits an array into multiple subarrays vertically (along rows).
* **_`np.array_split()`_**: Allows splitting an array into multiple subarrays along a specified axis, even if they are not equally sized.
These functions work similarly to np.split() but have specific axis orientations.

### Array Transposing:
Array transposing is the process of rearranging the elements of an array to change the shape or the order of the axes. In NumPy, you can transpose an array using the `np.transpose()` function or the `ndarray.T` attribute of an array.   
**Example 1**: `np.transpose()` function

In [ ]:
import numpy as np
arr = np.array([[1, 2, 3], [4, 5, 6]])
transposed_arr = np.transpose(arr)
print(transposed_arr)

[[1 4]
 [2 5]
 [3 6]]

**Example 2**: `ndarray.T` attribute

In [ ]:
import numpy as np
arr = np.array([[1, 2, 3], [4, 5, 6]])
transposed_arr = arr.T
print(transposed_arr)

[[1 4]
 [2 5]
 [3 6]]

**Task 16**   
A. transpose the give array? and see what happen?   
B. Increase the dimension of the given array and make it 2D and transpose the array?

In [ ]:
# Task 16 solution Part A
import numpy as np
arr1=np.array([1,2,3,4,5])
# Expected result
##################################
# [1, 2, 3, 4, 5]
##################################
# write your code here

## Mathematical Operations on Arrays

NumPy provides a wide range of mathematical operations that can be applied to arrays. Let's explore some of the commonly used operations.

### Basic Mathematic Operations.  
Numpy library allows element-wise mathematical operations on arrays data without the need to use a loop. For example, If two arrays have the same size then all arthematic operations are applied on the elements that have the same index of both arrays as it is shown below:

In [ ]:
import numpy as np
arr1=np.array([[1,3,5],[7,9,11]])
arr2=np.array([[0,2,4],[6,8,10]])
print(arr1+arr2)

[[ 1  5  9]
 [13 17 21]]

In the above example, `arr1` and `arr2` have the same size and dimension. Therefore, the element of `row 1` and `column1` in `arr1` is added to the element of `row 1` and `column 1` of `arr2`. this way of addition operation will continue for all elements on this manner. this type of opeation is referred to as **element-wise operation**.

**Task 17**   
use arr1 and arr2 to do the rest of basic math operations on them `(-,*,/,//,%)`?

In [ ]:
# Task 17 solution for substraction
#Expected result
##########################
#[[1, 1, 1],
#[1, 1, 1]]
##########################
# write your code here

In [ ]:
# Task x solution for multiplication
# write your code here

In [ ]:
# Task x solution for division
# Expected result
##############################
#[[  0,   6,  20],
# [ 42,  72, 110]]
##############################
# write your code here

In [ ]:
# Task x solution for integer division
# Expected result
########################################
# <ipython-input-12-dff00d42fe0b>:5: RuntimeWarning: divide by zero encountered in remainder arr1/arr2
#[[       inf, 1.5       , 1.25      ],
# [1.16666667, 1.125     , 1.1       ]]
########################################
# write your code here

In [ ]:
# Task x solution for modulus
# Expected result
##############################
# <ipython-input-12-dff00d42fe0b>:5: RuntimeWarning: divide by zero encountered in remainder arr1%arr2
# [[0, 1, 1],
#  [1, 1, 1]]
##############################
# write your code here

### Arrays Broadcasting
If the dimensions of the two arrays that we try to do arthematic operation on them differ then numpy will try to do what is called **broadcasting**.The term **broadcasting** describes how NumPy treats arrays with different shapes during arithmetic operations. Broadcasting in NumPy follows three strict rules to determine the interaction between the two arrays:

>**Rule 1**: If the two arrays differ in their number of dimensions, the shape of the one with fewer dimensions is padded with ones on its leading (`left`) side.   
>**Rule 2**: If the shape of the two arrays does not match in any dimension, the array with shape equal to `1` in that dimension is stretched to match the other shape.   
>**Rule 3**: If in any dimension the sizes disagree and neither is equal to `1`, an `error is raised`.

Understanding the three rules above might be overwhelming upon your first reading to them. We had the same experience when we met them for the first time. But do not worry, we will explain them step by step and make you familiar with them.   
Let us start by the first rule:   
>**Rule 1**: If the two arrays differ in their number of dimensions, the shape of the one with fewer dimensions is padded with ones on its leading (left) side.   

if two arrays differ in number of dimensions then one array will have higher dimension than the other. Therefore, rule 1 says Numpy will try to raise the lower dimension array to the same dimension of the higher one. This is what is meant by **`the shape of the one with fewer dimensions is padded with ones on its leading (left) side`** To clarify this more we have to show you how numpy can raise one array at lower dimension to an array of higher dimension.   
Let us assume we have a single number 3 for example. this number in numpy world has 0 dimension as it is shown in the following example:

In [ ]:
import numpy as np
arr0=np.array(3)
arr0.ndim

0

The <u>shape tuple</u> of that `0D-array` is represented as an empty tuple as it shown in the example below:

In [ ]:
import numpy as np
arr0=np.array(3)
arr0.shape

()

In order to raise this `0D-array` to `1D-array` in Numpy we have two options. The first option is to inclose `3` inside squared brackets. in other words, we make it a list. Numpy then will raise the `0D-array` to `1D-array` as shown below:

In [ ]:
import numpy as np
arr1=np.array([3]) # adding square brackets increase the array dimension by one.
arr1.ndim

1

The <u>shape tuple</u> of the new 1D array above is now represented as tuple of single element instead of empty tuple as shown below:

In [ ]:
import numpy as np
arr1=np.array([3])
arr1.shape

(1,)

The <u>value</u> of the element in the shape tuple represent the number of data in that dimension. Increasing the value of that elements increases the number of data in the dimension and does not change the array dimension (the count of numbers inside the shape tuple) as it is shown in the example below:

In [ ]:
import numpy as np
arr1=np.array([3,4,5,6])
print("arr1 dimension:",arr1.ndim)
print("arr1 shape:",arr1.shape)

arr1 dimension: 1
arr1 shape: (4,)

The other option which is the one mentioned in Rule 1 is to raise an array at lower dimension to higher dimension one by altering the shape of the lower dimension array and make it similar to the higher one as it shown in the example below:

In [ ]:
import numpy as np
arr0=np.array(3)
arr0.shape=(1,) # changing 0D array shape from empty tuple to tuple with one element will change the array to 1D array and number of data in that direction will 1 as well.
print("arr0 dimension:",arr0.ndim)
arr0

arr0 dimension: 1

array([3])

in the example above we changed the shape of the `0D-array` by adding `1,` inside the `0D-array` shape tuple. This is exactly what is ment by **`the shape of the one with fewer dimensions is padded with ones on its leading (left) side`**. If we want raise the lower dimension array to one dimension more we also add one to left as it is shown in the example below:

In [ ]:
import numpy as np
arr0=np.array(3)
arr0.shape=(1,1,) # changing 0D array shape from empty tuple to tuple with one element will change the array to 1D array and number of data in that direction will 1 as well.
print("arr0 dimension:",arr0.ndim)
arr0

arr0 dimension: 2

array([[3]])

**Task 18**   
It is your task now to convert `4` as `0D-array` to `1D-array` and 3D-array using the two options that we have shown you above?

In [ ]:
# Task 18 solution using the addition of square brackets
# Expected result
#############
# [4]
#############
# write your code here

In [ ]:
# Task 18 solution using the method of altering the shape of the array
# Expected result
################
# [[[4]]]
# ##############
# write your code here

**Task 19**   
Try raising the 1D-array `np.array([1,2,3,4]) to `2D-array` using the shape altering method above?

In [ ]:
# Task 19 solution
# Expect result
#################
#[[1.2.3.4]]
#################
# write your code here

**Challenge I**   
write a function that takes two parameters (A as numpy array, d as integer) where it return the input array after raising it to the d dimension? Test your function on the array, np.array([[1,2],[3,4]]), and d=4

In [ ]:
# Challenge I solution
# Expected result
#########################
#array([[[[1, 2],
#      [3, 4]]]])
#########################
# write your code here

array([[[[1, 2],
         [3, 4]]]])

To illustrate Rule 2 let us try to add `0D-array` such `5` for example to `1D-array` such as `np.array([0,1,3])`. Rule 1 will manage rasing the dimension of 0D-array to the same dimension of 1D-array (make the number of elements in their shape tuple the same but not necessarly the same values). Unfortuently, this condition is not enough to allow the addition to proceed because the addition will only proceed if the shape of the tuple of both arrays have the same number of elements (number of dimension ) and the same values (number of data in each dimension) to be the same as well. Therefore Numpy use Rule 2 to manage making the values (number of data in each dimension) in the shape tuple of both arrays the same. Rule 2 says:   
>**Rule 2**: If the shape of the two arrays does not match in any dimension, the array with shape equal to 1 in that dimension is stretched to match the other shape.

In other words, Rule 2 says, After managing the two arrays with Rule 1 and making them have the same dimension (same number of elements in their shape tuple) if the **values** of the corresponding element in each tuple are not the same then the element that has a value 1 will be stretched (the data in that dimension is repeated) to match the number of data of the corresponding element in the other array.

For our example example Rule 2 can be illustratied graphically as follows:

![image.png]()

According to rule 1 and rule 2 and without any interferance from our side, numpy will do the addition of 5 with the numpy array `np.array([0,1,2]) to obtain the result shown in the picture above as follows:

In [ ]:
import numpy as np
arr1=np.array([0,1,2])
arr1+5

array([5, 6, 7])

**Task 20**.  
substract 1 from arr1 above and print the result?

In [ ]:
# Task 20 solution
# Expected result
#########################
# array([-1,  0,  1])
#########################
# write your code here

The same thing can be said for the multiplication and divsion as it is shown in the example below:

In [ ]:
import numpy as np
arr1=np.array([1,3,5])
arr1*5

array([ 5, 15, 25])

**Task 21**   
divide arr1 above by 8 and observe the result?

In [ ]:
# Task 21 solution
# Expected result
##################################
# array([0.125, 0.375, 0.625])
##################################
# write your code here

**Task 22**   
Try to use the other arthematic operations (`%,//,**`) that you have learned in python on arr1 of the example above?

In [ ]:
# Task 22 solution
# write your code here

In [ ]:
# Task 22 solution
# write your code here

In [ ]:
# Task 22 solution
# write your code here

For the addition of 1D-array `np.array([1,2])` to 2D-array `np.array([[1,2],[3,4]]), Rule 1 and Rule 2 will manage the addition as it is shown shown in the picture below:

![image.png]()

In [ ]:
import numpy as np
arr1=np.array([1,2])
arr2=np.array([[1,2],
              [3,4]])
arr1+arr2

array([[2, 4],
       [4, 6]])

In the example above:   
* Rule 1 raised the shape tuple of `arr1` from `(2,) to (1,2)
* Rule 2 observed that there is miss match between the new arr1 shape tuple (1,2) and the shape tuple of arr2 (2,2). Therefore, Rule 2 stretch dimension of first element of arr1 shape tuple which represent the number of rows to match the number of row in arr2. Since now the shape and size of both arrays are the same, the addition can done.

But what is going to happen if after applying rule 1 and Rule 2 still there is difference in the shape and size of the two arrays that we want to conduct arthemtatic operation on them. This is what bring us to Rule 3 which says:      
>**Rule 3**: If in any dimension the sizes disagree and neither is equal to `1`, an `error is raised`.

The rule simply says if Rule 1 and Rule 2 could not manage to have the shape tuple of both arrays the same then print an error message.

In [ ]:
import numpy as np

arr1=np.array([0,1,2,3])

arr2=np.array([[0 ,0 ,0 ],
               [10,10,10],
               [20,20,20],
               [30,30,30]])
arr1+arr2

ValueError: ignored

In the example above:
 * Rule 1 managed to make the two array have the same number of dimensions by padding arr1 shape tuple with 1 to the left to become equal to (1,4) and arr2 already have shape tuple of (4,3).
 * Rule 2 even it managed to stretch the first dimension in arr1 shape tuple and make it equal 2 as arr2, it failed to stretching the element in the shape tuple of arr1 to make it have the same value as of that of arr2 since the value of that element does not equal 1 as per the requirement of rule 2. Therefore, Rule 3 raised an error message to signify that the operation cannot be completed. see the picture below that represents such case.

![image.png]()

**Task 23**   
A. Without writing any code deside whether the following arrays will do the arthematic operation without error?   
B. Predict the shpe of the resulting array if the operation is successful?   
C. Check your answer by writing python code for the arthematic operation?

In [ ]:
# task 23 solution
import numpy as np
arr1=np.array([[1,2],
               [3,4]])
arr2=np.array([1,2,3,4])

 # The operation of arr1*arr1 will ....... write your answer to part A here
 # The shape of the resulting array will be .........write your answer to part B here

 # check your answer by write arthematic operation below

In [ ]:
# task 23 solution
import numpy as np
arr1=np.array([[1,3,5],[7,9,11]])
arr2=np.array([3])

 # The operation of arr1 / arr1 will ....... write your answer to part A here
 # The shape of the resulting array will be .........write your answer to part B here

 # check your answer by write arthematic operation below

In [ ]:
# task 23 solution
import numpy as np
arr1=np.array([[1,3,5],[7,9,11]])
arr2=np.array([[3],
               [4],
               [5],
               [6]])

 # The operation of arr1 - arr1 will ....... write your answer to part A here
 # The shape of the resulting array will be .........write your answer to part B here

 # check your answer by write arthematic operation below

In [ ]:
# task 23 solution
import numpy as np
arr1=np.array([[1,3,5],[7,9,11]])
arr2=np.array([[[3]]])  # increasing the number of inner list increase the array dimension

 # The operation of arr1*arr1 will ....... write your answer to part A here
 # The shape of the resulting array will be .........write your answer to part B here

 # check your answer by write arthematic operation below

In [ ]:
# task 23 solution
import numpy as np
arr1=np.array([1,2,3])
arr2=np.array([10,11,12,13])

 # The operation of arr1+arr1 will ....... write your answer to part A here
 # The shape of the resulting array will be .........write your answer to part B here

 # check your answer by write arthematic operation below

In [ ]:
# task 23 solution
import numpy as np
arr1=np.array([1,3,5])
arr2=np.array([[0,2,4],[6,8,10]])

 # The operation of arr1*arr1 will ....... write your answer to part A here
 # The shape of the resulting array will be .........write your answer to part B here

 # check your answer by write arthematic operation below

**Challenge II**   
write a function that takes two numpy arrays as parameters and return True and the shape of the resulting array if the arthematic operation proceed without error otherwise it return false. Test your function on the following arrays:
np.array([1,2,3,4])
np.array([[1],[2],[3]})

In [ ]:
# Challenge II solution
# write your code here.

### Numpy Universal Functions
A NumPy universal function, often referred to as a ufunc, is a function that operates element-wise on arrays, enabling fast and efficient computations. Ufuncs are a fundamental component of NumPy and play a crucial role in performing mathematical, logical, and bitwise operations on arrays.

The main advantage of ufuncs is their ability to process arrays in a vectorized manner, meaning the operations are applied to each element of the array simultaneously, without the need for explicit loops. This allows for efficient computation and is one of the key reasons why NumPy is widely used in scientific computing and data analysis.

Ufuncs provide a wide range of mathematical functions, such as addition, subtraction, multiplication, division, exponentiation, trigonometric functions, logarithmic functions, and more. They can operate on arrays of any dimension and shape, including multi-dimensional arrays.


1. **`np.sum()`**    
The `np.sum() adds up all elements in an array as it is shown in the following example:

In [ ]:
import numpy as np
my_array=np.array([[1,2,4],
                   [4,5,6],
                  [7,8,9]])
np.sum(my_array)

46

>We can also specify the value of the optional parameter `axis` to control the summation operation to be along the columns or along the rows. if we want to do the summation on the column we set the `axis` value to 0. But if we want to do the summation for the rows we set the value of `axis` to 1 as it is shown in the example below:

In [ ]:
import numpy as np
my_array=np.array([[1,2,4],
                   [4,5,6],
                  [7,8,9]])
print("summation along columns:",np.sum(my_array,axis=0))
print("summation along rows:",np.sum(my_array,axis=1))

summation along columns: [12 15 19]
summation along rows: [ 7 15 24]

2. **`np.mean()`**   
numpy has also a function for calculating the mean value of all array data as it is shwon in the example below:

In [ ]:
import numpy as np
my_array=np.array([[1,2,4],
                   [4,5,6],
                  [7,8,9]])
np.mean(my_array)

5.111111111111111

> Similar to the sum function the mean function has an optional parameter called `axis` to specify the direction of calculation as it is shown in the example below:

In [ ]:
import numpy as np
my_array=np.array([[1,2,3],
                   [4,5,6],
                  [7,8,9]])
print("mean along columns:",np.mean(my_array,axis=0))
print("mean along rows:",np.mean(my_array,axis=1))

mean along columns: [4. 5. 6.]
mean along rows: [2. 5. 8.]

**Task 24**   
Find the maximum value in my_array above and calculate the maximium value for every row and column as well?

In [ ]:
# Task 24 solution
# Expected result
###########################
# maximum=9
# max along rows =[7,8,9]
# max along columns=[3,6,9]
###########################
# write your code here

**Task 25**   
Find the minimum value in my_array above and calculate the minimum value for every row and column as well?

In [ ]:
# Task 25 solution
# Expected result
###########################
# minimum=1
# max along rows =[1,2,3]
# max along columns=[1,4,7]
###########################
# write your code here

3. **other universal functions**:   
Numpy has so many functions that you can search for them and know how to use them such as:   
* **_np.exp()_**: Computes the element-wise exponential of an array.
* **_np.log()_**: Computes the natural logarithm (base e) of an array.
* **_np.sin()_**, **_np.cos()_**, **_np.tan()_**: Compute the sine, cosine, and tangent of an array, respectively.
* **_np.sqrt()_**: Computes the non-negative square root of an array.
* **_np.arcsin()_**, **_np.arccos()_**, **_np.arctan()_**: Compute the inverse sine, inverse cosine, and inverse tangent of an array, respectively.
* **_np.abs()_**: Computes the absolute value element-wise.
* **_np.round()_**: Rounds the elements of an array to the nearest integer.
* **_np.floor()_**, **_np.ceil()_**: Computes the floor and ceiling values of each element in an array, respectively.
* **_np.unique()_**: Returns the sorted unique values in an array.
* **_np.sort()_**: Sorts the elements of an array along a specified axis.
* **_np.argmax()_**, **_np.argmin()_**: Returns the indices of the maximum and minimum values along a specified axis.   

To get more help on any of these functions we can use numpy built-in help function as follows:

In [ ]:
import numpy as np
help(np.exp)

Help on ufunc:

exp = <ufunc 'exp'>
    exp(x, /, out=None, *, where=True, casting='same_kind', order='K', dtype=None, subok=True[, signature, extobj])

    Calculate the exponential of all elements in the input array.

    Parameters
    ----------
    x : array_like
        Input values.
    out : ndarray, None, or tuple of ndarray and None, optional
        A location into which the result is stored. If provided, it must have
        a shape that the inputs broadcast to. If not provided or None,
        a freshly-allocated array is returned. A tuple (possible only as a
        keyword argument) must have length equal to the number of outputs.
    where : array_like, optional
        This condition is broadcast over the input. At locations where the
        condition is True, the `out` array will be set to the ufunc result.
        Elsewhere, the `out` array will retain its original value.
        Note that if an uninitialized `out` array is created via the default
        ``out=None``, locations within it where the condition is False will
        remain uninitialized.
    **kwargs
        For other keyword-only arguments, see the
        :ref:`ufunc docs <ufuncs.kwargs>`.

    Returns
    -------
    out : ndarray or scalar
        Output array, element-wise exponential of `x`.
        This is a scalar if `x` is a scalar.

    See Also
    --------
    expm1 : Calculate ``exp(x) - 1`` for all elements in the array.
    exp2  : Calculate ``2**x`` for all elements in the array.

    Notes
    -----
    The irrational number ``e`` is also known as Euler's number.  It is
    approximately 2.718281, and is the base of the natural logarithm,
    ``ln`` (this means that, if :math:`x = \ln y = \log_e y`,
    then :math:`e^x = y`. For real input, ``exp(x)`` is always positive.

    For complex arguments, ``x = a + ib``, we can write
    :math:`e^x = e^a e^{ib}`.  The first term, :math:`e^a`, is already
    known (it is the real argument, described above).  The second term,
    :math:`e^{ib}`, is :math:`\cos b + i \sin b`, a function with
    magnitude 1 and a periodic phase.

    References
    ----------
    .. [1] Wikipedia, "Exponential function",
           https://en.wikipedia.org/wiki/Exponential_function
    .. [2] M. Abramovitz and I. A. Stegun, "Handbook of Mathematical Functions
           with Formulas, Graphs, and Mathematical Tables," Dover, 1964, p. 69,
           https://personal.math.ubc.ca/~cbm/aands/page_69.htm

    Examples
    --------
    Plot the magnitude and phase of ``exp(x)`` in the complex plane:

    >>> import matplotlib.pyplot as plt

    >>> x = np.linspace(-2*np.pi, 2*np.pi, 100)
    >>> xx = x + 1j * x[:, np.newaxis] # a + ib over complex plane
    >>> out = np.exp(xx)

    >>> plt.subplot(121)
    >>> plt.imshow(np.abs(out),
    ...            extent=[-2*np.pi, 2*np.pi, -2*np.pi, 2*np.pi], cmap='gray')
    >>> plt.title('Magnitude of exp(x)')

    >>> plt.subplot(122)
    >>> plt.imshow(np.angle(out),
    ...            extent=[-2*np.pi, 2*np.pi, -2*np.pi, 2*np.pi], cmap='hsv')
    >>> plt.title('Phase (angle) of exp(x)')
    >>> plt.show()

or simply use ? or ?? after the name of the object that we want to have some help about it. Google colab will show us the help at a seperte windown to the right. check this by running the code below:

In [ ]:
import numpy as np
np.exp?

The help is not limited to functions but also can by about arrays as well. run the code below to get some information about the created array.

In [ ]:
import numpy as np
arr=np.array([1,2,3,4])
arr??

**Task 26**   
Try to get some help on the following unvirsal functions (`np.sin`,`np.sqrt`,`np.abs`) using the three method that you learned?

In [ ]:
# Task 26 solution for np.sin
# write your code here

In [ ]:
# Task 26 solution for np.sqrt
# write your code here

In [ ]:
# Task 26 solution for np.abs
# write your code here

### Working with mathematical formulas   
Working with mathematical formulas using NumPy is a common practice in scientific computing and data analysis. Numpy makes these compuation very easy since it deals with multiple data (vectors) as if they are single variable without the need to loop overall data. For example, we can convert several tempeature data available in numpy array from celsius to Fahreneit in one single line as it is shown belwo:

In [ ]:
import numpy as np

celsius = np.array([0, 10, 25, 37.5, 100])

fahrenheit = celsius * 9/5 + 32

print(fahrenheit)

[ 32.   50.   77.   99.5 212. ]

**Task 27**   
it is your tern now to convert the Fahrenheit above to Kelvin.

In [ ]:
# Task x solution
# Expected result
########################################
# [  0. ,  10. ,  25. ,  37.5, 100. ]
########################################
# write your code here.

array([  0. ,  10. ,  25. ,  37.5, 100. ])

**Task 28**   
convert the following pressure measures from kPa to psi? **Hint**: 1 psi=6.89476 kPa

In [ ]:
# task x solution
import numpy as np
kpa = np.array([100, 200, 300, 400, 500])
# Expected result
###################################################################
# [14.50376808, 29.00753616, 43.51130424, 58.01507232, 72.51884039]
###################################################################
# write your code here

The Antoine equation is commonly used in chemical engineering to estimate the vapor pressure of a pure component as a function of temperature. The equation is expressed as:

$$log_{10}(P) = A - (B / (T + C))$$

Where P is the vapor pressure in a specific unit (e.g., mmHg), T is the temperature in a specific unit (e.g., Celsius), and A, B, and C are component-specific parameters.

Let's say we have the Antoine equation parameters for a component and we want to calculate the vapor pressure at different temperatures using NumPy.

In [ ]:
import numpy as np

# Antoine equation parameters for the component
A = 8.20417
B = 1582.27
C = 219.48

# Temperatures in Celsius
temperatures = np.array([50, 60, 70, 80, 90])

# Calculate the vapor pressure using the Antoine equation
vapor_pressure = 10**(A - (B / (temperatures + C)))

print(vapor_pressure)

[ 215.08124253  348.89242473  547.35062677  833.25665044 1234.51715517]

**Task 29**   
Estimate water vapor pressure at different temperatures in Celsius using Antoine equation.

In [ ]:
import numpy as np

# Antoine equation parameters for water
A = 8.07131
B = 1730.63
C =  233.426

# Temperatures in Celsius
temperatures = np.array([10,20,30, 40, 50, 60, 70, 80, 90, 100])
# Expected result
###############################################################
# [  9.15881655,  17.47325208,  31.74016727,  55.19282956,
#        92.29988808, 149.03841921, 233.1732906 , 354.53226547,
#       525.26643282, 760.08636916]
##############################################################

In chemical engineering, it is common to encounter systems of linear equations when modeling and analyzing various processes. NumPy provides efficient tools for solving such systems. Let's consider an example where we have a system of three linear equations:

$$2x + y - z = 1$$
$$x - 3y + 2z = -4$$
$$3x + 2y - 5z = 3$$

We can represent this system using matrix notation as Ax = b, where A is the coefficient matrix, x is the vector of unknowns, and b is the vector of constants.

In [ ]:
import numpy as np

# Coefficient matrix A
A = np.array([[2, 1, -1],
              [1, -3, 2],
              [3, 2, -5]])

# Constants vector b
b = np.array([1, -4, 3])

# Solve the system of equations
x = np.linalg.solve(A, b)

print(x)

[-0.18181818  1.09090909 -0.27272727]

In the example above, we use a module bundled with numpy called `linalg` which contains the function `solve()` that solve system of linear equations.

**Task 30**   
Consider the following system of linear equations:

$$3x + 2y - z = 5$$
$$2x - 4y + 3z = -7$$
$$x + y + 2z = 4$$

Solve this system of equations and find the values of x, y, and z.

In [ ]:
# Task x solution
# write your code here

## File Input and Output in NumPy   
NumPy offers input/output (I/O) functions for loading and saving data to and from files. Input/output functions support a variety of file formats, including binary and text formats.

* The binary format is designed for efficient storage and retrieval of large
arrays.
* The text format is more human-readable and can be easily edited in a text editor.

### Saving NumPy Arrays to Files:   
NumPy provides functions to save arrays to different file formats, such as `np.save()`, `np.savez()`, and `np.savetxt()`.

1. `np.save()` function:   
The `np.save()` function is used to save a single array to a binary file in NumPy's `.npy` format. Here is the syntax for the save() function:

In [ ]:
import numpy as np
np.save(file, arr)

* **_file_**: The file name or file object to which the data is saved.
* **_arr_**: The array tosave.


<br><br>
**Example**:

In [ ]:
import numpy as np

data = np.array([1, 2, 3, 4, 5])

np.save('data.npy', data)

In the above example, the `np.save()` function is used to save the NumPy array to a file named `data.npy`. The array is saved in binary format.

> 2. **`np.savez()` function**:   
The `np.savez()` function is used to save multiple arrays into a single file in NumPy's `.npz` format. Here is the syntax for the `np.savez()` function:

In [ ]:
import numpy as np
np.savez(file, *args, **kwds)

* **_file_**: The file name or file object to which the data is saved.
* __*args__: Arrays to be saved. The arrays can be passed as separate arguments or as a sequence.
* __**kwds__: Arrays can also be passed using keyword arguments.

<br><br>
**Example**:

In [ ]:
import numpy as np

data1 = np.array([1, 2, 3])
data2 = np.array([4, 5, 6])

np.savez('data.npz', arr1=data1, arr2=data2)

In the example above, the `np.savez()` function is used to save the data1 and data2 NumPy arrays to a file named `data.npz`. The arrays are saved in a compressed `.npz` format.

> 3. **`np.savetxt()` function**:   
The `np.savetxt()` function is used to save a single array to a text file. Here is the syntax for the `np.savetxt()` function:

In [ ]:
import numpy as np
np.savetxt(fname, X)

* **_fname_**: The file name or file object to which the data is saved.
* **_X_**: The array to save.

<br><br>
**Example**:

In [ ]:
import numpy as np

data = np.array([[1, 2, 3], [4, 5, 6]])

np.savetxt('data.txt', data, fmt='%d', delimiter=',', header='Column 1, Column 2, Column 3')

In thie above example, the `np.savetxt()` function is used to save the data NumPy array to a text file named data.txt. The array is saved as integer values, separated by commas, and includes a header line.


### Loading Data from Files:

NumPy provides different functions to load data from various file formats. The most commonly used functions are `np.loadtxt()` and `np.load()`.

1. **`np.loadtxt()` function**:   
The `np.loadtxt()` function is used to load data from a text file into a NumPy array. Here is the syntax for the loadtxt() function:

In [ ]:
import numpy as np
np.loadtxt(fname, dtype=<class 'float'>, comments='#',
           delimiter=None, converters=None, skiprows=0,
           usecols=None, unpack=False, ndmin=0, encoding='bytes', max_rows=None)

* **_fname_**: The name of the file or a file-like object from which to load the data.
* **_dtype_**: The desired data type of the resulting array. (Default: float)
* **_comments_**: The character used to indicate the start of a comment line. (Default: #)
* **_delimiter_**: The string used to separate values. (Default: whitespace)
* **_converters_**: A dictionary mapping column numbers to functions that convert the column values.
* **_skiprows_**: The number of rows to skip at the beginning of the file.
* **_usecols_**: A sequence of column indices or names to extract from the file.
* **_unpack_**: If True, the returned array is transposed, so that separate arrays are created for each column.
* **_ndmin_**: The minimum number of dimensions of the resulting array.
* **_encoding_**: The encoding of the input file. (Default: bytes)
* **_max_rows_**: The maximum number of rows to read from the file.

**Example**:

In [ ]:
import numpy as np

data = np.loadtxt('data.txt', delimiter=',')

print(data)

[[1. 2. 3.]
 [4. 5. 6.]]

In the above example, the `np.loadtxt()` function is used to load data from the file data.txt. The data is assumed to be comma-separated, and the first row (header) is skipped using `skiprows=1`. The resulting data is stored in the data NumPy array.

> 2. **`np.load()` function**:   
The `np.load()` function is similar to loadtxt(), except that it deals with the binary file .npy. Here is the syntax for the `np.load() function:

In [ ]:
import numpy as np
np.load(fname)

> * **_fname_**: binary file to be loaded.

<br><br>
**Example**

In [ ]:
import numpy as np

data = np.load('data.npy')

print(data)

[1 2 3 4 5]

In this example, the `np.load()` function is used to load data from the file data.npy. The resulting data is stored in the data NumPy structured array.

**Task 31**   
Save the data of the fahreneit above into temp.npy? click the folder/files icon on the left side menu to see if the file has been created.

In [ ]:
# Task 31 solution
# write your code here

**Task 32**   
Save the data of the pressures in psi above into psi.txt? check your google drive that the file has been created

In [ ]:
# Task 32 solution
# write your code here

**Task 33**   
Load the temperature data that you saved in Task 31?

In [ ]:
# Task 33 solution
# write your code here

**Task 34**   
Load the pressure data that you saved in Task 32 above?

In [ ]:
# Task 34 solution
# write your code here


## Conclusion

NumPy is a powerful tool for scientific computing in Python. It allows us to manipulate large, multi-dimensional arrays with ease, and provides a wide range of mathematical functions to operate on these arrays. NumPy is also very efficient, and can be used to perform complex calculations on large datasets quickly and easily.

Learning NumPy is essential for anyone who wants to do serious scientific computing in Python. There are many resources available online to help you learn NumPy, including tutorials, exercises, and documentation.